<div class="row home">

    <div class="six columns">
      <h1>Unresolved Issues</h1>

      <% @open_issues.each do |issue| %>
      <div class="row">
        <div class="twelve columns">


          <span>Posted by <%= issue.user.first_name %> <%= time_ago_in_words(issue.created_at) %> ago</span>

          <h4><%= link_to issue.title, issue %></h4>

          <div class="details">
            <% if current_user.try(:admin?) || current_user == issue.user %>
            <%= link_to 'Edit', edit_issue_path(issue) %>
              <% if current_user.try(:admin?) %>
                <%= form_for issue do |f| %>
                  <%= f.hidden_field :resolved, value: true %>
                  <%= f.submit 'Resolve', :class => 'action-button' %>
                <% end %>
              <% end %>
            <% end %>
          </div>

        </div>
      </div>
      <% end %>
    </div>

    <div class="six columns">
      <h1>Resolved Issues</h1>

      <% @closed_issues.each do |issue| %>
      <div class="row">
        <div class="twelve columns">


          <span>Posted by <%= issue.user.first_name %> <%= time_ago_in_words(issue.created_at) %> ago</span>

          <h4><%= link_to issue.title, issue %></h4>

          <div class="details">
            <% if current_user.try(:admin?) || current_user == issue.user %>
            <%= link_to 'Edit', edit_issue_path(issue) %>
            <% end %>
          </div>

        </div>
      </div>
      <% end %>
    </div>
</div>
